@config "../../../../virtualpage.tailwind.config.ts";

#git-test-ai-virtual-root{
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
}

#git-test-ai-virtual-root img{
    display: inline;
    max-width: none;
}

#git-test-ai-virtual-root *,
#git-test-ai-virtual-root :after,
#git-test-ai-virtual-root :before{
    box-sizing: content-box;
}

#git-test-ai-virtual-root *,
#git-test-ai-virtual-root *::before,
#git-test-ai-virtual-root *::after {
    box-sizing: border-box;
}